<!DOCTYPE html>
<html ng-app="myapp" ng-controller="resumecontroller" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Area | Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <style type="text/css">
    .modal-title {
    color:#000000;
    background-color: #fff;
    
}
#date {
    color:#000000;
    background-color: #fff;
    font-size: 15px;}

#billamt{
color:#000000;
    background-color: #fff;
    font-size: 15px;
  
}    


    </style>
   
  

    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>

  </head>

  <body  ng-init="onload()">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Expense Tracker</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#.html">Dashboard</a></li>
            <li><a href="index.html">Home</a></li>
         
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-model="userdetail"><a href="#">Welcome, {{userdetail}}</a></li>
           <li ng-model="logoutuser" ng-click="userlogout()" ><a href="/myproject/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Dashboard <small>Group Head</small></h1>
          </div>
   

       <div class="col-md-1">
         <div class="dropdown create">
              <!--<button class="btn btn-primary " type="button"  ><span class="glyphicon glyphicon-remove-sign" data-ng-click="showDeleteLocationPopup(true, location)" ></span>-->
                
                
              <button class="btn btn-danger" type="button"  href="#" onClick="return confirm('Are you absolutely sure you want to delete?')" ng-click="remove_user(user, $event)" ><span class="glyphicon glyphicon-remove-sign" ></span> Delete Account </button>


              </div>
              </div>
      </div>
      </div>
    </header>

    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <a href="index.html" class="list-group-item active main-color-bg">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Dashboard
              </a>
             
              <a href="index.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Pending Requests</a>
              <a href="ActiveUsers.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Active Users</a>
              <a href="leaverequests.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Leave Request</a>
              <a href="resumerequests.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Resume Requests</a>
<a href="/myproject/member Dashboard/mdash.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Activity Center</a>
            </div>

          </div>

          

<div class="col-md-9">
            <!-- Website Overview -->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Resume Requests</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                      <div class="col-md-12">
                          <input class="form-control" type="search" placeholder="Filter Pages..." data-target="#search" ng-model="q" aria-label="filter friends" >


  
                <table class="table table-striped table-hover" cellpadding="2" cellspacing="2" border="2">
                      <tr>
                        <th>User Name</th>
                        
                        <th>Accept/Decline </th>
                      </tr>
                      <ul class="example-animate-container" id="search">
    
                      <tr  class="animate-repeat" ng-repeat="x in resumerequest | filter:q as results" >
                        <td>{{x}}</td>
                       
                        <td><button type="button" class="btn btn-success" ng-confirm-click="" confirmed-click="accept(x)" >Accept Request</button>

                         <a class="btn btn-danger" href="#" ng-confirm-click="" confirmed-click="reject(x)" >Decline Request</a></td>
                      </tr>
                     
                    </table>
                    
     <li class="animate-repeat" ng-if="results.length === 0">
      <strong>No results found...</strong>
    </li>
  </ul>
              </div>
              </div>
              </div>
              </div>

          </div>



          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <p>Copyright T&P &copy; 2017</p>
    </footer>

   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>


  </body>
</html>
<script>
        var ap =angular.module("myapp",[]);
        ap.controller("resumecontroller",function($scope,$http,$window,requestCounter){
        	
        	   $scope.onload=function(){
        	       
                  
                      $http({
                          url : '/myproject/resumerequest',
                          method : "GET",
                         
                      }).success(function(data, status, headers, config) {
                          
                          $scope.resumerequest=data.rrequest;
                          $scope.userdetail=data.userdetail;
                         
                       }).error(function(data, status, headers, config) {
                       });  
                      
                  }

        	
        	
     
         $scope.names = ["Licky", "Deo", "Shashank","Piyush","Varshant","Jatin"];
        
         $scope.requests = requestCounter;

    
      $scope.myFunction = function() {
      
    
      $window.alert('total count');
            
};
 $scope.accept=function(x)
      {
       
        $http({
            url : '/myproject/acceptresume',
            method : "POST",
            data : {
                
                'name' : x
               
            }
           
        }).success(function(data, status, headers, config) {
            
        	 if(data=="verified"){
          		 $window.location.href = "resumerequests.html";
          	  }
           
         }).error(function(data, status, headers, config) {
         });  
        
      }
 $scope.reject=function(x)
 {
 
   $http({
       url : '/myproject/declineresume',
       method : "POST",
       data : {
           
           'name' : x
          
       }
      
   }).success(function(data, status, headers, config) {
	   if(data=="verified"){
    		 $window.location.href = "resumerequests.html";
    	  }
    }).error(function(data, status, headers, config) {
    });  
   
 }
        });

         ap.directive('ngConfirmClick', [
    function(){
        return {
            link: function (scope, element, attr) {
                var msg = attr.ngConfirmClick || "Are you sure?";
                var clickAction = attr.confirmedClick;
                element.bind('click',function (event) {
                    if ( window.confirm(msg) ) {
                        scope.$eval(clickAction)
                    }
                });
            }
        };
}])

        ap.provider('requestCounter', function ($httpProvider) {
    this.$get = function () {
      var activeRequests = 0;
      var obj = {count: activeRequests};
      $httpProvider.defaults.transformRequest.push(function(data) {
        activeRequests++;
        return data;
      });

      $httpProvider.defaults.transformResponse.push(function(data) {
        activeRequests--;
        return data;
      });

      return obj;
    };
  });
       
       

    </script>